
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

@model Task2.Models.Account

<div class="title"><span class="title_icon"><img src="~/Content/User/images/bullet1.gif" alt=""></span>My account</div>
<div class="feat_prod_box_details">
    <p class="details"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
    <div class="contact_form">
        <div class="form_subtitle">login into your account</div>
        @ViewBag.error
        @using (Html.BeginForm("MyAccount","Account", FormMethod.Post))
        { 
            <div class="form_row">
                <label class="contact"><strong>Username:</strong></label>
                @Html.TextBoxFor(model => model.userName, new { @class = "contact_input" })
                
            </div>
            <div class="form_row">
                <label class="contact"><strong>Password:</strong></label>
                @Html.PasswordFor(model => model.password, new { @class = "contact_input" })
            </div>
            
            
            <div class="form_row">
                <input class="register" value="login" type="submit">
            </div>
        }
    </div>
</div>
<div class="clear"></div>


