
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}



<div class="title"><span class="title_icon"><img src="~/Content/User/images/bullet1.gif" alt=""></span>Profile</div>
<div class="feat_prod_box_details">
    <p class="details"> welcome @*@Session["username"].ToString*@ 
    <br/>
    <a href="@Url.Action("Logout","Account")">Logout</a>
    </p>
   
</div>
<div class="clear"></div>


