
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<div class="title"><span class="title_icon"><img src="~/Content/User/images/bullet1.gif" alt=""></span>Thanks</div>
<div class="feat_prod_box_details">
    <p>Thanks for buying my product. click <a href="@Url.Action("Index","Home")">here</a>  to continue</p>
    </div>
